  <nav class="navbar static navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand btn btn-outline-success" href="/">PITCHES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link btn btn-outline-success" href="/">Home <span class="sr-only">(current)</span></a>
        </li>         

        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
        <div class="dropdown">
          <button class="nav-link btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav-link btn btn-outline-success" href="/pitch/lifestyle">Lifestyle</a>
            <a class="nav-link btn btn-outline-success" href="/pitch/farm_pitches">Farm_pitches</a>
            <a class="nav-link btn btn-outline-success" href="/pitch/lifestyle">Lifestyle</a>
          </div>
        </div>

      </ul>
      <ul class="navbar-nav ml-auto">  
        {% if current_user.is_authenticated %}   
          <li style="color:gold;padding:15px;">{{current_user.username}}</li>

          <li class="nav-item">
            <a class="btn btn-outline-danger" href="{{url_for('lead.profile',name=current_user.username)}}">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"></a>
          </li>

          <li class="nav-item">
            <a class="btn btn-outline-danger" href="{{url_for('verify.signout')}}">Sign out</a>
          </li>        

        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-danger" href="{{url_for('verify.signin')}}">Sign in</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
