{% extends 'base.html' %}

{% block content %}
<h1>{{category}} pitches</h1>
  {% if current_user.is_authenticated %}   
  <div class="btn btn-dark">
    <a href="/pitch/new/{{title}}">Post pitch</a>    
  </div>
  {% else %}
  <div class="btn btn-dark">
    <a class="btn btn-outline-danger" href="{{url_for('verify.signin')}}">Sign in to post</a>
  </div>
  {% endif %}


  {% for pitch in pitches %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <p>Title: {{pitch.p_title}}</p>
          <p>{{pitch.pitch_it|safe}}</p>
          <p>Posted on: {{pitch.post}}</p>
          <p>By :{{pitch.posted_by}}

          
          {% if current_user.is_authenticated %}    
          <div class="text-center">
            <button class="btn btn-outline-warning">Like</button>                    
            <button class="btn btn-outline-warning">Dislike</button>    
          </div>
          <div class="btn btn-info">            
            <a href="/pitch/comment/{{pitch.id}}">Comments</a>    
          </div>
          {% else %}
          <div class="btn btn-info">
            <a class="btn btn-outline-danger" href="{{url_for('verify.signin')}}">Sign in to comment</a>
          </div>
          {% endif %}
        </div>  
      </div>  
    </div>  
  </div>  
  {% endfor %}  
  
{% endblock content %}